---
export { getStaticPaths } from '@/scripts/translate';
import Layout from '@/components/layouts/ContentLayout.astro';
import { loadTranslations } from '@/scripts/translate';
import { getLatest } from '@/scripts/content';

const { t } = await loadTranslations(Astro);

const sorted = getLatest('project');
---

<Layout title={t.nav.pages.projects}>
  <ul>
    {
      sorted.map((project) => (
        <li>
          <a href={project.path}>{project.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
