---
export { getStaticPaths } from '@/scripts/translate';
import AboutPicture from '@/components/AboutPicture.astro';
import { loadTranslations } from '@/scripts/translate';
import Layout from '@/components/ContentLayout.astro';

const { t } = await loadTranslations(Astro);
---

<Layout title={t.nav.pages.about} name={t.about.title}>
  <AboutPicture />
  <p class="my-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quod aut possimus laboriosam sunt accusantium incidunt error dolor aliquam obcaecati commodi fugiat velit, provident rerum optio.
    Autem fuga voluptatem temporibus!
  </p>

  <p class="my-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quod aut possimus laboriosam sunt accusantium incidunt error dolor aliquam obcaecati commodi fugiat velit, provident rerum optio.
    Autem fuga voluptatem temporibus!
  </p>

  <p class="my-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quod aut possimus laboriosam sunt accusantium incidunt error dolor aliquam obcaecati commodi fugiat velit, provident rerum optio.
    Autem fuga voluptatem temporibus!
  </p>

  <p class="my-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quod aut possimus laboriosam sunt accusantium incidunt error dolor aliquam obcaecati commodi fugiat velit, provident rerum optio.
    Autem fuga voluptatem temporibus!
  </p>

  <p class="my-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quod aut possimus laboriosam sunt accusantium incidunt error dolor aliquam obcaecati commodi fugiat velit, provident rerum optio.
    Autem fuga voluptatem temporibus!
  </p>

  <p class="my-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quod aut possimus laboriosam sunt accusantium incidunt error dolor aliquam obcaecati commodi fugiat velit, provident rerum optio.
    Autem fuga voluptatem temporibus!
  </p>
</Layout>
