---
import Hero from '@/components/Hero.astro';
import Layout from '@/pages/_layout.astro';
import { loadTranslations } from '@/scripts/translate';
// import { getPlayCount, getFollowers } from '@/scripts/api';
import Project from '@/components/Project.astro';
import BDH from '@/components/BDH.astro';

export { getStaticPaths } from '@/scripts/translate';
const { t, locale } = await loadTranslations(Astro);

// const playCount = await getPlayCount();
// const followers = await getFollowers();

// const { format } = Intl.NumberFormat(locale, { notation: 'compact' });
---

<Layout>
  <Hero />
  <section>
    <div class="title">
      <h2>{t.home.projects}</h2>
      <a href="/projects">{t.home.moreProjects}</a>
    </div>
    <div class="projects">
      <Project name="bdh">
        <BDH slot="phone" />
      </Project>
      <Project name="nidk" />
    </div>
  </section>
</Layout>

<style>
  h2 {
    font-size: 0.875rem;
    color: var(--btn-txt-color);
  }

  h3 {
    font-family: Fraunces, serif;
    font-size: 1.5rem;
    margin-bottom: 0;
    display: flex;
    gap: 1rem;
  }

  section {
    margin-block: 4rem;
  }

  section > .title {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    align-items: center;
    margin-bottom: 2rem;
  }

  @media (min-width: 64rem) {
    .projects {
      display: grid;
      gap: 3rem;
    }
  }

  p {
    max-width: 25rem;
  }
</style>
