---
export { getStaticPaths } from '@/scripts/translate';
import { loadTranslations } from '@/scripts/translate';
import Layout from '@/components/ContentLayout.astro';
import { getContentMeta, getLocalized, sortContent, type MD } from '@/scripts/content';

const { t , locale } = await loadTranslations(Astro);
const projects = await Astro.glob<MD<'project'>>('/content/project/*.md*');
const sorted = sortContent(getLocalized(projects, locale).flat());
---

<Layout title={t.nav.pages.projects}>
  <ul>
    {
      sorted.map((project) => (
        <li>
          <a href={getContentMeta(project).path}>{project.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
