:root {
  --bg-color: hsl(0, 0%, 96%);
  --txt-color: hsl(0, 0%, 7%);
  --mid-color: hsl(0, 0%, 50%);
  --border-color: hsl(0, 0%, 70%);
  --btn-bg-color: hsl(0, 0%, 89%);
  --btn-txt-color: hsl(0, 0%, 25%);
}

[data-theme='dark'] {
  --bg-color: hsl(0, 0%, 6%);
  --txt-color: hsl(0, 0%, 96%);
  --mid-color: hsl(0, 0%, 50%);
  --border-color: hsl(0, 0%, 30%);
  --btn-bg-color: hsl(0, 0%, 12%);
  --btn-txt-color: hsl(0, 0%, 70%);
}
