@import url('colors.css');
@import url('constants.css');

html {
  font-family: var(--font-body);
}

html[data-theme='dark'] {
  color-scheme: dark;
  background-color: var(--gray-1);
  color: var(--gray-9);
}

[data-transition='false'] :not([data-transition='true'], [data-transition='true'] *) {
  transition: none !important;
}
