@use 'mixins' as *;

:root,
:root[data-theme='light'] {
  @include light-theme;
}

:root[data-theme='dark'] {
  @include dark-theme;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-theme;
  }
}

.bdh {
  --project-bg: var(--bdh-bg);
  --project-accent: var(--bdh-accent);
}

.nidk {
  --project-bg: var(--nidk-bg);
  --project-accent: var(--nidk-accent);
}
