---
import { loadTranslations } from '@/scripts/translate';
import Layout from './_layout.astro';
await loadTranslations(Astro);
---

<Layout>
  <h1>Oops, this page could not be found!</h1>
</Layout>
