---
import SocialLinks from '../components/SocialLinks.astro';
import Layout from '../layouts/Layout.astro';
import { translations } from '../scripts/stores';

const t = translations.get();
---

<Layout>
  <h1>Home</h1>
  <a href="/about">About</a>
  <p>{t.title}</p>
  <SocialLinks />
</Layout>
