---
import { state } from '../scripts/translate';

export type Props = { href?: string; parse?: boolean; [key: string]: any };
const { href, parse = false, ...props } = Astro.props as Props;

/** Gets the href based on the environment, because Vercel's middleware, which is
 * used to redirect users to their preferred locale, is not available in dev-mode. */
const getHref = (href: string) =>
  import.meta.env.PROD || parse === false ? href : `/${state.locale}${href}`;
---

<a href={getHref(href ?? '')} {...props}><slot /></a>
