---
import Button from './Button.astro';
import Icon from './Icon.astro';
---

<article>
  <div>
    <div class="insta">
      <img src="/nos_insta.png" width="42" />
    </div>
    <div>
      <span>NOS Stories <img src="/verified.png" height="14" /><br /></span>
      <span class="at">@nosstories</span>
    </div>
  </div>
  <p>
    Quinten daagt je uit: ben je beter dan Hugo de Jonge? Avondklok of lockdown, hoe zou jij het
    coronabeleid aanpakken?
  </p>
  <Button><Icon name="tabler:brand-instagram" size={18} /> 428K weergaven</Button>
  <!-- <Button>Play the game</Button> -->
</article>

<style>
  article {
    /* border: 2px solid var(--mid-color); */
    background-color: var(--btn-bg-color);
    border-radius: 1.5rem;
    padding: 1.5rem;
    /* aspect-ratio: 1.5; */
    /* width: 45%; */
  }

  article > div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  div > span {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  span.at {
    color: var(--btn-txt-color);
    /* font-size: 14px; */
    font-weight: normal;
  }

  p > span {
    color: hsl(207, 100%, 50%);
  }

  p {
    font-size: 16px;
    margin-block: 0.75rem 1rem;
  }

  article > :global(button) {
    border: 2px solid hsl(0, 0%, 80%);
    gap: 0.5rem;
  }
</style>
