---
export type Props = { href?: string; round?: boolean; class?: string; [key: string]: any };
const { href, round, class: className, ...props } = Astro.props as Props;

const Button = href ? 'a' : 'button';
---

<Button href={href} class:list={[{ round }, className]} type={!href ? 'button' : null} {...props}>
  <slot />
</Button>

<style lang="scss">
  a,
  button {
    text-decoration: none;
    display: flex;
    gap: 0.25rem;
    border: none;
    border-radius: 0.5rem;
    background-color: unset;
    padding: 0.5rem 0.75rem;
    margin: 0;
    font: inherit;
    font-weight: 500;
    color: var(--btn-txt-color);
    cursor: pointer;
    height: 2.25rem;
    min-width: 2.25rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: background-color 150ms var(--easing);
    &:hover {
      background-color: var(--btn-bg-color);
    }
    &.round {
      aspect-ratio: 1;
      padding: 0.5rem;
    }
  }
</style>
