---
import type { HTMLAttributes } from 'astro/types';

export type Props = HTMLAttributes<'button' & 'a'>;
const { href, class: className, ...props } = Astro.props as Props;
const Button = Astro.props.href ? 'a' : 'button';
---

{/*@ts-ignore*/}
<Button
  href={href}
  class={`flex items-center justify-center gap-2 transition-colors bg-gray-100 rounded cursor-pointer dark:bg-gray-800 h-9 aspect-square hover:text-gray-600 hover:dark:text-gray-300 ${
    className ?? ''
  }`}
  {...props}
>
  <slot />
</Button>
