---
import { state } from '@/scripts/translate';
import { Icon } from 'astro-icon';
const { t } = state;

const year = new Date().getFullYear();
---

<footer class="my-20 border-t-2 border-gray-200 pt-6 font-semibold text-gray-600 dark:border-gray-800 dark:text-gray-400 md:my-24">
  <div class="grid grid-cols-4 gap-4 max-sm:hidden">
    <div class="col-span-2 flex flex-col gap-2">
      <h2 class="font-bold text-gray-700 dark:text-gray-100">Blog</h2>
      <a href="#">Beter dan Hugo: Post-Mortem</a>
      <a href="#">Het parlementaire jaar in 7.992.417 woorden</a>
    </div>
    <div>
      <h2 class="mb-3 font-bold text-gray-700 dark:text-gray-100">Browse</h2>
      <div class="w-min gap-2 gap-x-6">
        <a href="/" class="highlight">Home</a>
        <a href="/projects" class="highlight">Projects</a>
        <a href="/about" class="highlight">About</a>
        <a href="/contact" class="highlight">Posts</a>
        <a href="/feed" class="highlight">Feed</a>
      </div>
    </div>
    <div>
      <h2 class="mb-3 font-bold text-gray-700 dark:text-gray-100">Socials</h2>
      <div class="w-min gap-y-2 gap-x-6">
        <a href="/twitter" class="highlight">Email</a>
        <a href="/twitter" class="highlight">Twitter</a>
        <a href="/github" class="highlight">Github</a>
        <a href="/linkedin" class="highlight">Linkedin</a>
        <a href="/telegram" class="highlight">Telegram</a>
      </div>
    </div>
  </div>
</footer>
