---
import { state } from '../scripts/translate';
import Block from './Block.astro';
import Icon from './Icon.astro';
const t = state.translations;
---

<header>
  <div>
    <h1><span>{t.index.title}</span></h1>
    <h2>{t.index.description}</h2>
  </div>
  <!-- <Block width={12} image="/headshot.webp" /> -->
</header>

<style>
  header {
    margin-block: 4rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    /* align-items: center; */
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  h1,
  h2 {
    margin-block: 0;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 600;
  }

  h2 {
    font-weight: normal;
    font-size: 1.25rem;
  }
</style>
