---
import icons from '@iconify-json/tabler/icons.json' assert { type: 'json' };
import { getIconData, iconToSVG } from '@iconify/utils';

export type Props = {
  name: string;
  title?: string;
  size?: number;
  [key: string]: any;
};

const { name, size = 20, title, ...restProps } = Astro.props as Props;

const iconData = getIconData(icons, name);
const renderData = iconToSVG(iconData!);

const attrs = { ...restProps, ...renderData.attributes };
---

<svg {...attrs}>
  {title && <title>{title}</title>}
  <Fragment set:html={renderData.body} />
</svg>

<style define:vars={{ size: `${size}px` }}>
  svg {
    font-size: var(--size);
  }
</style>
