---
import { state } from '../scripts/translate';
import Button from './Button.astro';
import ToggleLocale from './ToggleLocale.astro';
import ToggleTheme from './ToggleTheme.astro';

const t = state.translations;

const links = [
  { href: '/projects', label: t.projects.page },
  { href: '/about', label: t.about.page },
  { href: '/blog', label: t.blog.page },
  { href: '/contact', label: t.contact.page },
];

const current = new URL(Astro.request.url).pathname;
---

<nav>
  <div>
    <Button href="/">Quinten Coret</Button>
    <div class="menu">
      {
        links.map((link) => (
          <Button href={link.href} aria-current={current === link.href ? 'page' : null}>
            {link.label}
          </Button>
        ))
      }
    </div>
  </div>
  <div>
    <ToggleTheme />
    <ToggleLocale />
    <!-- <MobileMenu /> -->
  </div>
</nav>

<style lang="scss">
  nav {
    display: flex;
    justify-content: space-between;
    margin-block: 2rem;
    margin-inline: auto;
    max-width: var(--container-width);
  }

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  a {
    text-decoration: none;
    padding: 0.75rem;
  }

  a[href='/'] {
    color: var(--txt-color);
    font-size: 1.125rem;
    font-family: Fraunces;
  }

  a[aria-current='page'] {
    font-weight: 600;
  }

  @media (max-width: 768px) {
    .menu {
      display: none;
    }
  }

  :global(toggle-locale),
  :global(toggle-theme) {
    display: flex;
    gap: 0.25rem;
    padding: 0.5rem 0.75rem;
    font-weight: 600;
    color: var(--btn-txt-color);
    cursor: pointer;
    height: 2.25rem;
    min-width: 2.25rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: background-color 150ms var(--easing);
    background-color: var(--btn-bg-color);
    border-radius: 2rem;
    &:hover {
      background-color: var(--mid-color);
    }
  }

  :global(toggle-theme) {
    aspect-ratio: 1;
    padding: 0.5rem;
  }
</style>
