---
import BDH from './BDH.astro';
import Button from './Button.astro';
import Image from './Image.astro';
---

<article>
  <h3>New in Parliament</h3>
  <p>A lot is said in parliament, so let's just focus on the new words.</p>
  <div>
    <BDH />
  </div>
</article>

<style>
  article {
    background-color: var(--nidk-bg-color);
    padding: 2.25rem 3.5rem;
    border-radius: 2rem;
    /* min-height: 40rem; */
    margin-block: 3rem;
  }

  article div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  article :global(button) {
    border: 2px solid var(--nidk-txt-color);
  }

  h3 {
    font-family: Fraunces, serif;
    font-size: clamp(26px, calc(26px + (32 - 26) * ((100vw - 400px) / (880 - 400))), 32px);
    margin-block: 1rem;
  }

  p {
    font-size: 20px;
    color: var(--btn-txt-color);
  }
</style>
