---
import { state } from '@/scripts/translate';
import type { Project } from '../scripts/types';
import Phone from './Phone.astro';

export type Props = { name: Project };
const { name } = Astro.props as Props;

const t = state.t[name];
---

<article class={name}>
  <div>
    <h3>{t.title}</h3>
    <p>{t.desc}</p>
  </div>
  <div>
    <Phone>
      <slot name="phone" />
    </Phone>
  </div>
</article>

<style>
  article {
    --phone-height: 30rem;
    background-color: var(--project-bg);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr var(--phone-height);
    padding-inline: calc(4vw + 1rem);
    margin-inline: calc(-1 * var(--min-padding));

    @media (min-width: 64rem) {
      --phone-height: 32rem;
      min-height: var(--phone-height);
      grid-template-columns: 1fr 20rem;
      grid-template-rows: 1fr;
      padding-inline: 6rem;
      margin-inline: 0;
      border-radius: 2rem;
      gap: 6rem;
    }
  }

  div:nth-of-type(1) {
    margin: 6rem 1rem;
    @media (min-width: 64rem) {
      margin-inline: 0;
    }
  }

  div:nth-of-type(2) {
    overflow: hidden;
    max-height: var(--phone-height);
    width: 100%;
    max-width: 20rem;
    margin-inline: auto;
    @media (min-width: 64rem) {
      padding-top: 3rem;
    }
  }

  h3 {
    font-size: fluid(26px, 32px);
    font-family: Fraunces, serif;
    margin-block: 1rem;
  }

  p {
    font-size: 20px;
    color: var(--btn-txt-color);
  }
</style>
