---
import Button from './Button.astro';
import Icon from './Icon.astro';
const socials = ['linkedin', 'twitter', 'github', 'telegram'] as const;

const capitalize = (social: typeof socials[number]) =>
  social.charAt(0).toUpperCase() + social.slice(1);
---

<div>
  {
    socials.map((social) => (
      <Button href={`/${social}`} title={capitalize(social)} round={true} rel="external">
        <Icon name={`tabler:brand-${social}`} size={24} />
      </Button>
    ))
  }
</div>

<style>
  div {
    display: flex;
    height: 40px;
    gap: 0.5rem;
  }
</style>
