---
import Icon from 'astro-icon';
import { capitalize } from '@/scripts/utils';

const socials = ['linkedin', 'twitter', 'github', 'telegram'] as const;
---

<div class="my-8 flex gap-4">
  {
    socials.map((name) => (
      <a
        title={capitalize(name)}
        href={`/${name}`}
        class="flex aspect-square items-center rounded-lg border-2 border-gray-200 p-2 text-gray-700 shadow-sm transition-colors hover:bg-gray-200 dark:border-gray-800 dark:text-gray-200 dark:hover:bg-gray-800"
      >
        <Icon name={`ri:${name}-fill`} width={26} />
      </a>
    ))
  }
</div>
