---
import Button from './Button.astro';
import { Icon } from 'astro-icon';
const socials = ['twitter', 'github', 'linkedin', 'telegram'] as const;

const capitalize = (social: typeof socials[number]) =>
  social.charAt(0).toUpperCase() + social.slice(1);
---

<div>
  {
    socials.map((social) => (
      <Button href={`/${social}`} title={capitalize(social)} rel="external">
        <Icon name={`tabler:brand-${social}`} width={22} />
      </Button>
    ))
  }
</div>

<style lang="scss">
  div {
    display: flex;
    gap: 1rem;
  }

  div :global(a) {
    height: initial;
    aspect-ratio: 1;
    padding: 0.5rem;
  }
</style>
