---
import Icon from './Icon.astro';
const socials = ['linkedin', 'twitter', 'github', 'telegram'] as const;

const makeTitle = (social: typeof socials[number]) => {
  return social.charAt(0).toUpperCase() + social.slice(1);
};
---

<div>
  {
    socials.map((social) => (
      <a href={`/${social}`} title={makeTitle(social)} rel="external">
        <Icon name={`brand-${social}`} size={24} />
      </a>
    ))
  }
</div>

<style>
  div {
    display: flex;
    gap: 1rem;
  }
  a {
    color: var(--gray-8);
    text-decoration: none;
  }
</style>
