---
import Icon from 'astro-icon';
import { capitalize } from '@/scripts/utils';

const socials = ['linkedin', 'twitter', 'github', 'telegram'] as const;
---

<div class="flex gap-4 my-8">
  {
    socials.map((name) => (
      <a title={capitalize(name)} href={`/${name}`} class="flex items-center p-2 text-gray-700 transition-colors border-2 border-gray-200 rounded-lg shadow-sm dark:text-gray-200 dark:border-gray-800 hover:bg-gray-200 dark:hover:bg-gray-800 aspect-square">
        <Icon name={`ri:${name}-fill`} width={26} />
      </a>
    ))
  }
</div>
