---
import { state } from '../scripts/translate';
import Button from './Button.astro';
import Icon from './Icon.astro';

const t = state.translations;
---

<script>
  import { parseLocale } from '../scripts/utils';

  class ToggleLocale extends HTMLElement {
    connectedCallback() {
      this.children[0].addEventListener('click', this.toggleLocale.bind(this));
    }

    get locale() {
      return parseLocale(document.documentElement.lang, 'en');
    }

    toggleLocale() {
      document.cookie = `locale=${this.locale === 'en' ? 'nl' : 'en'}`;
      const href = window.location.href.split('?');
      if (href[1]?.length > 0) window.location.href = href[0];
      else window.location.reload();
    }
  }

  customElements.define('toggle-locale', ToggleLocale);
</script>

<toggle-locale>
  <Button type="button" title={t.nav.toggleLocale}>
    <Icon name="tabler:message" aria-label="Language" />
    <span>{t.nav.otherLocale}</span>
  </Button>
</toggle-locale>

<style is:global>
  toggle-locale span {
    margin-inline: 0.25rem;
  }
</style>
