---
import { state } from '../scripts/translate';
import Button from './Button.astro';
import Icon from './Icon.astro';

const t = state.translations;
---

<script>
  const toggleLocale = () => {
    const locale = document.documentElement.lang;
    document.cookie = `locale=${locale === 'en' ? 'nl' : 'en'}`;
    // history.pushState({}, document.title, window.location.pathname); // remove search params
    window.location.reload();
  };

  const buttons = document.querySelectorAll('.toggleLocale');
  buttons.forEach((e) => e.addEventListener('click', toggleLocale));
</script>

<Button class="toggleLocale" title={t.nav.toggleLocale}>
  <Icon name="tabler:message" />
  <span>{t.nav.otherLocale}</span>
</Button>

<style>
  span {
    margin-inline: 0.25rem;
  }
</style>
