---
import { state } from '../scripts/translate';
import Icon from './Icon.astro';

const t = state.translations;
---

<script>
  import { parseLocale } from '../scripts/utils';

  class ToggleLocale extends HTMLElement {
    connectedCallback() {
      this.addEventListener('click', this.toggleLocale.bind(this));
    }

    get locale() {
      return parseLocale(document.documentElement.lang, 'en');
    }

    toggleLocale() {
      document.cookie = `locale=${this.locale === 'en' ? 'nl' : 'en'}`;
      const href = window.location.href.split('?');
      if (href[1]?.length > 0) window.location.href = href[0];
      else window.location.reload();
    }
  }

  customElements.define('toggle-locale', ToggleLocale);
</script>

<toggle-locale title={t.nav.toggleLocale}>
  <Icon name="tabler:message" />
  <span>{t.nav.otherLocale}</span>
</toggle-locale>

<style lang="scss">
  span {
    margin-inline: 0.25rem;
  }
</style>
