---
import { state } from '@/scripts/translate';
import { Icon } from 'astro-icon';
import Button from './Button.astro';

const { t } = state;
---

<toggle-theme class="max-3xs:hidden">
  <Button href="?theme=" title={t.nav.theme.toggle}>
    <span class="hidden gap-2 dark:flex"><Icon name="prime:sun" width={24} /></span>
    <span class="flex gap-2 dark:hidden"><Icon name="prime:moon" width={24} /></span>
  </Button>
</toggle-theme>

<script>
  import { createButtonFromAnchor, define, disableTransition } from '../scripts/utils';
  import { parseTheme } from '../scripts/types';

  let theme = parseTheme(document.documentElement.dataset.theme);

  @define('toggle-theme')
  class ToggleTheme extends HTMLElement {
    button = this.children[0];

    connectedCallback() {
      this.button = createButtonFromAnchor(this, this.toggleTheme.bind(this));
    }

    toggleTheme() {
      theme = theme === 'dark' ? 'light' : 'dark';
      disableTransition((d) => (d.dataset.theme = theme));
      document.cookie = `theme=${theme};path=/;SameSite=Lax`;
    }
  }
</script>
