---
import { state } from '../scripts/translate';
import Button from './Button.astro';
import Icon from './Icon.astro';

const t = state.translations;
---

<script>
  import { disableTransition } from '../scripts/utils';

  const toggleTheme = () => {
    const dataTheme = document.documentElement.dataset.theme;
    const theme = dataTheme === 'dark' ? 'light' : 'dark';
    window.localStorage.setItem('theme', theme);
    disableTransition(() => (document.documentElement.dataset.theme = theme));
  };

  const buttons = document.querySelectorAll('.toggleTheme');
  buttons.forEach((e) => {
    e.addEventListener('click', toggleTheme);
    e.firstElementChild?.setAttribute('data-transition', 'true');
  });
</script>

<Button class="toggleTheme" aria-label={t.nav.themeLabel}>
  <span data-transition="false">
    <Icon name="tabler:moon" title={t.nav.toggleTheme(t.nav.darkTheme)} />
    <Icon name="tabler:sun" title={t.nav.toggleTheme(t.nav.lightTheme)} />
  </span>
</Button>

<style lang="scss" is:global>
  .toggleTheme svg {
    transition: transform 150ms var(--easing);
    [data-theme='dark'] & {
      transform: translateY(-1.75rem);
    }
  }

  .toggleTheme span {
    display: grid;
    gap: 0.5rem;
    align-self: flex-start;
  }
</style>
