---
import { translations } from '../scripts/stores';
import Button from './Button.astro';
import Icon from './Icon.astro';

const t = translations.get();
---

<script>
  import { disableTransition } from '../utils/disable-transition';

  const toggleTheme = () => {
    const dataTheme = document.documentElement.dataset.theme;
    const theme = dataTheme === 'dark' ? 'light' : 'dark';
    window.localStorage.setItem('theme', theme);
    disableTransition(() => (document.documentElement.dataset.theme = theme));
  };

  const buttons = document.querySelectorAll('.toggleTheme');
  buttons.forEach((e) => {
    e.addEventListener('click', toggleTheme);
    e.firstElementChild?.setAttribute('data-transition', 'true');
  });
</script>

<Button class="toggleTheme" aria-label={t.theme.label}>
  <span data-transition="false">
    <Icon name="moon" size={20} title={t.theme.toggle(t.theme.dark)} class="light" />
    <Icon name="sun" size={20} title={t.theme.toggle(t.theme.light)} class="dark" />
  </span>
</Button>

<style lang="scss" is:global>
  .toggleTheme svg {
    transition: transform 150ms var(--easing);
    [data-theme='dark'] & {
      transform: translateY(-1.75rem);
    }
  }

  .toggleTheme span {
    display: grid;
    gap: 0.5rem;
    align-self: flex-start;
  }
</style>
