---
import Button from './Button.astro';
import Icon from './Icon.astro';
---

<article>
  <div>
    <img src="/nieuwindekamer.jpg" width="42" />
    <div>
      <span>Nieuw in de Kamer</span><br />
      <span class="at">@nieuwindekamer</span>
    </div>
  </div>
  <p>
    Door <span>@lientje1967</span> (BBB) werd gisteren voor het eerst het woord “memes” in de Tweede
    Kamer plenair gebruikt.
  </p>
  <Button><Icon name="tabler:brand-twitter" size={18} /> 2.8K volgers</Button>
</article>

<style>
  article {
    /* border: 2px solid var(--mid-color); */
    background-color: var(--btn-bg-color);
    border-radius: 1.5rem;
    padding: 1.5rem;
    /* aspect-ratio: 1.5; */
    /* width: 45%; */
  }

  article > div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  div > span {
    font-weight: bold;
  }

  span.at {
    color: var(--btn-txt-color);
    /* font-size: 14px; */
    font-weight: normal;
  }

  p > span {
    color: hsl(207, 100%, 50%);
  }

  p {
    font-size: 16px;
    margin-block: 0.75rem 1rem;
  }

  img {
    border-radius: 50%;
  }

  article > :global(button) {
    border: 2px solid hsl(0, 0%, 80%);
    gap: 0.5rem;
  }
</style>
