---
export { getStaticPaths } from '@/scripts/translate';
import { loadTranslations } from '@/scripts/translate';
import Layout from '@/layouts/ContentLayout.astro';
import { getBlogSlug } from '@/scripts/utils';

const { t } = await loadTranslations(Astro);

const posts = await Astro.glob('../../../content/*.mdx');

const getPostDate = (post: (typeof posts)[number]) => new Date(post.frontmatter.date).valueOf();
const sortedPosts = posts.sort((a, b) => getPostDate(b) - getPostDate(a))
---

<Layout title={t.nav.pages.blog}>
  <ul>
    {
      sortedPosts.map((post) => (
        <li>
          <a href={`/blog/${getBlogSlug(post)}`}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
