html,
body {
  scroll-behavior: smooth;
  margin: 0;
}

:root {
  --black: black;
  --white: white;

  --red: #f76f59;
  --yellow: #ffd95f;
  --green: #b3df7a;
  --blue: #a9def9;
  --pink: #ff97d3;

  --stroke: 2px;
  --nav: 3.3rem;

  --border: solid var(--stroke) var(--black);
  --shadow: 6px 6px 0 0 var(--black);
}



section ::selection {
  background: var(--pink);
}

a {
  text-decoration: none;
  color: unset;
}

button {
  background: transparent;
  cursor: pointer;
  border: 0;
  padding: 0;
}

[data-theme="dark"] {
  --black: white;
  --white: black;
}