html {
  scrollbar-gutter: stable;
  --font-hero: 'Faustina';
}

html,
[data-theme='light'] {
  @apply [color-scheme:light] text-gray-900 bg-gray-50;
}

[data-theme='dark'] {
  @apply [color-scheme:dark]  bg-gray-900 text-gray-50;
}

[data-transition='false'] :not([data-transition='true'], [data-transition='true'] *) {
  @apply !transition-none;
}

.text-shadow {
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
}
