html,
body {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  background: var(--white);
  color: var(--black);
}

:root {
  --black: black;
  --white: white;

  --red: #f76f59;
  --yellow: #ffd95f;
  --green: #b3df7a;
  --blue: #a9def9;
  --pink: #ff97d3;

  --maxwidth: 1200px;
  --stroke: 2px;

  --border: solid var(--stroke) var(--black);
  --shadow: 6px 6px 0 0 var(--black);
}

::selection {
  background: rgb(167, 204, 255);
  text-shadow: none;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  background: transparent;
  cursor: pointer;
  border: 0;
  padding: 0;
}

[data-theme='dark'] {
  --black: white;
  --white: black;
}

svg {
  fill: none;
  stroke: var(--black);
}

svg * {
  vector-effect: non-scaling-stroke;
}
