html, body {
  scroll-behavior: smooth;
  margin: 0;
}

:root {
  --red: #f76f59;
  --yellow: #ffd95f;
  --green: #b3df7a;
  --blue: #a9def9;
  --pink: #ff97d3;

  --stroke: 2px;
  --header: 3.5rem;

  --border: solid var(--stroke) black;
  --shadow: 6px 6px 0 0 black;
}

section ::selection {
  background: var(--pink);
}