---
import '../styles/index.css';
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>Quinten Coret</title>
  <script is:inline>
    const d = document.documentElement;
    if (d.getAttribute('data-theme') === 'auto') {
      const media = window.matchMedia('(prefers-color-scheme: dark)');
      d.setAttribute('data-theme', media.matches ? 'dark' : 'light');
    }
  </script>
  <script>
    import { listen } from 'quicklink';
    import { slugs } from '../pages/[slug]';
    const ignores = (s: string) => new URL(s).pathname.replace('/', '') in slugs;
    window.addEventListener('load', listen({ ignores }));
  </script>
  {
    import.meta.env.PROD && (
      <script
        data-goatcounter="https://qntn.goatcounter.com/count"
        src="//gc.zgo.at/count.js"
        async
      />
    )
  }
</head>
