---
import '../styles/index.css';
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>Quinten Coret</title>
  <script is:inline>
    let theme = localStorage.getItem('theme');
    theme = theme ?? (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
    document.documentElement.setAttribute('data-theme', theme);
  </script>
  <script>
    import '../scripts/quicklink';
  </script>
  <script data-goatcounter="https://qntn.goatcounter.com/count" src="//gc.zgo.at/count.js" async
  ></script>
</head>
