---
import Head from './Head.astro';
import Navigation from '../components/Navigation.astro';
import { locale, theme } from '../scripts/stores';
import { load } from '../scripts/load';

await load(Astro);
---

<html lang={locale.get()} data-theme={theme.get()}>
  <Head />
  <body>
    <Navigation />
    <main>
      <slot />
    </main>
    <footer>
      <p>Built with {Astro.generator}</p>
    </footer>
  </body>
</html>
