---
import Head from './Head.astro';
import Navigation from '../components/Navigation.astro';
import { state } from '../scripts/translate';
---

<html lang={state.locale}>
  <Head />
  <body>
    <Navigation />
    <main>
      <slot />
    </main>
    <footer>
      <p>Built with {Astro.generator}</p>
    </footer>
  </body>
</html>
