---
import Head from './Head.astro';
import Navigation from '../components/Navigation.astro';
import { locale } from '../scripts/stores';
---

<html lang={locale.get()}>
  <Head />
  <body>
    <Navigation />
    <main>
      <slot />
    </main>
    <footer>
      <p>Built with {Astro.generator}</p>
    </footer>
  </body>
</html>
