---
import { state } from '@/scripts/translate';
import { Icon } from 'astro-icon';
import Button from '@/components/Button.astro';

const { t } = state;

const pages = Object.entries(t.nav.pages);
---

<Button is="checkbox" id="togglemenu" class="sm:hidden">
  <Icon name="prime:bars" width={24} class="[*:checked~*>&]:hidden" />
  <Icon name="prime:times" width={24} class="[*:checked~*>&]:block hidden" />
</Button>

<div class="flex max-h-0 w-full justify-center gap-6 overflow-hidden rounded bg-gray-100 px-4 text-lg font-semibold dark:bg-gray-800 sm:hidden [*:checked~&]:max-h-12">
  <a href="/" class="py-2">Home</a>
  {
    pages.map(([slug, name]) => (
      <a href={`/${slug}`} class="py-2">
        {name}
      </a>
    ))
  }
</div>

<style>
  div {
    transition: max-height 150ms ease-in-out;
    max-height: 0;
  }
</style>
